.intro-main{
  position : relative;
  z-index : 1;

  overflow : hidden;

  max-height : 390px;
  margin-bottom : 41px;
  padding-top : 50px;
  padding-bottom : 50px;

  background-image : url("../img/intro/photo-background@1x.jpg");
  background-repeat : no-repeat;
  background-size : cover;
  &:after{
    position : absolute;
    bottom : 0;
    left : 0;

    width : 100%;
    height : 57px;

    content : "";

    background-image : url("../img/intro/intro-triangle.svg");
    background-repeat : no-repeat;
    background-position : bottom;
    background-size : 200%;
  }
}
@media (min-width: $screen-md){
  .intro-main{
    min-height : 512px;
    margin-bottom : 57px;
    padding-top : 76px;
    padding-bottom : 0;

    background-size : 100% auto;
    &:after{
      background-size : 101.6%;
    }
  }
}

@media (min-width: $screen-bp-md-lg){
  .intro-main{
    margin-bottom : 58px;
  }
}

@media (min-resolution: $retina2x){
  .intro-main{
    background-image : url("../img/intro/photo-background@2x.jpg");
  }
}
