.photo{
  position : relative;
  z-index : ($z);

  margin : 0 $gap 35px;

  $z : 10;
  $gap : 10px;
  &__wrap{
    position : relative;
    z-index : ($z);

    overflow : hidden;

    width : 70px;
    height : 70px;

    background-color : $c_light-grey;
  }
  &__img{
    width : auto;
    max-height : 100%;
    margin : 50%;

    transform : translate(-50%, -50%);
  }
  &__link{
    position : absolute;
    z-index : ($z+1);
    top : -15px;
    left : 20px;

    display : block;

    padding : 15px;

    cursor : pointer;
    @include no-text-2;
    text-decoration : none;

    border-radius : 30px;
    background : $c_lighter-grey;
    &:before{
      @include cross;
      top : 15px;
      left : 8px;

      content : "";
      transform : rotate(45deg);
    }
    &:after{
      @include cross;
      top : 15px;
      left : 8px;

      content : "";
      transform : rotate(-45deg);
    }
    &:hover{
      background-color : #e5e5e5;
      &:before{
        background-color : #8c8c8c;
      }
      &:after{
        background-color : #8c8c8c;
      }
    }
    &:active{
      background-color : #d5d5d5;
      &:before{
        background-color : #c4c4c4;
      }
      &:after{
        background-color : #c4c4c4;
      }
    }
  }
}

@media (min-width: $screen-md){
  .photo{
    margin : 0 33px 68px;
    &__wrap{
      width : 140px;
      height : 140px;
    }
    &__link{
      top : -30px;
      left : 110px;

      padding : 30px;
      &:before{
        top : 28px;
        left : 14px;

        width : 32px;
        height : 3px;
      }
      &:after{
        top : 28px;
        left : 14px;

        width : 32px;
        height : 3px;
      }
    }
  }
}

@media (min-width: $screen-bp-md-lg){
  .photo{
    margin : 0 12px 68px;
  }
}
