.slogan{
  margin-bottom : 42px;
  padding : 0 25px;
  &__title{
    font : {
      size : $fz_s;
      weight : bold;
    }
    line-height : (26/18);

    margin-top : 12px;
    margin-bottom : 30px;
  }
  &__text{
    line-height : (26/14);
  }
}
@media (min-width: $screen-md){
  .slogan{
    margin-bottom : 50px;
    &__title{
      margin-bottom : 28px;

      @include font-md;
    }
  }
}
