.svg-blog-calendar-icon {
	width: 10.633px;
	height: 11.393px;
}

.svg-blog-flag-icon {
	width: 10.634px;
	height: 9.874px;
}

.svg-htmlacademy-icon {
	width: 26.943px;
	height: 34.09px;
}

.svg-icon-burger-icon {
	width: 76.166px;
	height: 68.959px;
}

.svg-icon-calendar-icon {
	width: 19.875px;
	height: 21.916px;
}

.svg-icon-facebook-icon {
	width: 8.672px;
	height: 18.944px;
}

.svg-icon-gift-icon {
	width: 63px;
	height: 75.084px;
}

.svg-icon-house-icon {
	width: 74.696px;
	height: 72.345px;
}

.svg-icon-minus-icon {
	width: 9.917px;
	height: 1.917px;
}

.svg-icon-plus-icon {
	width: 9.917px;
	height: 9.917px;
}

.svg-icon-twitter-icon {
	width: 17.5px;
	height: 14.663px;
}

.svg-icon-youtube-icon {
	width: 19.979px;
	height: 14.015px;
}

.svg-map-marker-icon {
	width: 27px;
	height: 27px;
}

