
// font-family
/*$ff_base :*/

//font-size
$fz_base: 14px;
$lh_base: (21/14);

$fz_18: 18px;
$fz_21: 21px;
$fz_30: 30px;
$lh_40_18: (40/18);
$lh_26_18: (26/18);
$lh_26_21: (26/21);
$lh_46_21: (46/21);
$lh_48_14: (48/14);
$lh_28_30: (28/30);



/*---- colors ----*/
$c_blue: #81b3d2;
$c_grey: #333;
$c_light-grey: #eee;
$c_light: rgba(255, 255, 255, .902);
