*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-width: $w-min;
  margin: 0;

}
.container {
  min-width: $w-min;
  max-width: $w-max;
  margin-left: auto;
  margin-right: auto;
}
