*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-width: $screen-sm;
  margin: 0;

}
.container {
  min-width: $screen-sm;
  max-width: $screen-lg;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,.20);
}
