@mixin font-face
{
font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/oOt0DNfso2UXZt7DYCiN2gLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@mixin font-face
{
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://fonts.gstatic.com/s/ptsans/v8/g46X4VH_KHOWAAa-HpnGPr3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

// @mixin font-face
// {
//     font-family: 'symbols-sedona';
//     font-weight: normal;
//     font-style: normal;

//     src: url('../font/symbols-sedona.eot?60737633');
//     src: url('../font/symbols-sedona.eot?60737633#iefix') format('embedded-opentype'),
//     url('../font/symbols-sedona.woff?60737633') format('woff'),
//     url('../font/symbols-sedona.ttf?60737633') format('truetype'),
//     url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
// }
// [class^='icon-']:before,
// [class*=' icon-']:before
// {
//     font-family: 'symbols-sedona';
//     font-weight: normal;
//     font-style: normal;
//     font-variant: normal;
//     line-height: 1em;

//     display: inline-block;

//     width: 1em;
//     margin-right: .2em;
//     margin-left: .2em;

//     text-align: center;
//     text-decoration: inherit;
//     text-transform: none;

//     speak: none;
// }
// .icon-facebook:before { content: '\66'; } /* 'f' */
// .icon-twitter:before { content: '\74'; } /* 't' */
// .icon-up-dir:before { content: '\25b2'; } /* '▲' */
// .icon-down-dir:before { content: '\25bc'; } /* '▼' */
// .icon-star:before { content: '\2605'; } /* '★' */
// .icon-check-off:before { content: '\2610'; } /* '☐' */
// .icon-check-on:before { content: '\2611'; } /* '☑' */
// .icon-calendar:before { content: '\e800'; } /* '' */
// .icon-plus:before { content: '\e801'; } /* '' */
// .icon-minus:before { content: '\e802'; } /* '' */
// .icon-youtube:before { content: '\f39e'; } /* '' */

@mixin no-text
{
      text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
