.sprite {
  //display: inline-block;

  position: absolute;
  top:15px;
  @include no-text;
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
  background-size: 117px auto;
}

.sprite-eat {
  // width: 74px;
  // height: 76px;
  // background-position: -147px 4px;

  width: 39px;
  background-position: -78px 4px;
  height: 41px;
}

.sprite-house {
  // width: 75px;
  // height: 76px;
  // background-position: -68px 3px;

  width: 41px;
  height: 38px;
  background-position: -35px 0px;
}

.sprite-surprise {
  // width: 64px;
  // height: 76px;
  // background-position: 0 0;

  width: 36px;
  height: 41px;
  background-position: 0px 0px;
}

