.footer-copyright{
  font-size : $fz_base;

  padding-top : 26px;
  padding-bottom : 26px;

  color : #000;
  &__text{
    display : inline-block;

    margin-top : 0;
    margin-bottom : 0;

    vertical-align : sub;
  }
}
@media (min-width: $screen-md){
  .footer-copyright{
    width : 33.33%;
    padding : 0;
    padding-left : 6%;
  }
}
@media (min-width: $screen-bp-md-lg){
  .footer-copyright{
    padding-left : 15%;
  }
}
