.logo{
  position : relative;
  z-index : 20;

  display : block;

  width : 137px;
  height : 70px;
  margin : 0 auto;
  margin-bottom : -15px;

  background : url("../img/logo/logo-sedona@1x.png") center top no-repeat,
  url("../img/svg/form-logo-triangle.svg") center top no-repeat;

  @include no-text;
}

@media (min-width: $screen-md){
  .logo{
    margin-top : -55px;
  }
}
@media (min-resolution: $retina2x){
  .logo{
    background : url("../img/logo/logo-sedona@2x.png") center top no-repeat,
    url("../img/svg/form-logo-triangle.svg") center top no-repeat;
    background-size: 67px 56px, 137px 70px;
  }
}
@media (min-resolution: $retina3x){
  .logo{
    background : url("../img/logo/logo-sedona@3x.png") center top no-repeat,
    url("../img/svg/form-logo-triangle.svg") center top no-repeat;
    background-size: 67px 56px, 137px 70px;
  }
}
