.menu-section-open{
  position : relative;
  &__btn{
    outline : none;
    height: 23px;
    background: none;
    border: none;
    width: 23px;
    position: absolute;
    top: -38px;
    right: 20px;
    span {
      @include no-text-2;
      @include menu-icon;
      top : 18px;
      right : 0px;
      &:before{
        @include menu-icon;
        top : -18px;

        content : "";
      }
      &:after{
        @include menu-icon;
        top : -9px;

        content : "";
      }
    }
  }
}
@media (min-width: $screen-md){
  .menu-section-open{
    display : none;
  }
}
