.menu-section{
  position : relative;

  display : none;
  &__close{
    @include no-text-2;
    &:before{
      top : 26px;
      right : 17px;

      content : "";
      @include cross-white;
      transform : rotate(45deg);
    }
    &:after{
      top : 26px;
      right : 17px;

      content : "";
      @include cross-white;
      transform : rotate(-45deg);
    }
  }
}
@media (min-width: $screen-md){
  .menu-section{
    display : block;
    &__close{
      display : none;
    }
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-1000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.menu-section-show{
  display : block;
  animation: show 0.6s;
}
.menu-not-show{
  display: none;
}
