.menu-section-open{
  position : absolute;
  bottom : 30px;
  right : 20px;

  width : 23px;
  height : 23px;

  border : none;
  outline : none;
  background : none;
  span{
    @include no-text-2;
    @include menu-icon;
    top : 18px;
    right : 0;
    &:before{
      @include menu-icon;
      top : -18px;

      content : "";
    }
    &:after{
      @include menu-icon;
      top : -9px;

      content : "";
    }
  }
}
@media (min-width: $screen-md){
  .menu-section-open{
    display : none;
  }
}
