.photo-catalog-wrap{
  max-width : 458px;
  margin : 0 auto;
}
.photo-catalog{
  $gap : 10px;

  display : flex;

  margin-right : (- $gap);
  margin-bottom : 8px;
  margin-left : (- $gap);

  flex-wrap : wrap;
  justify-content : space-between;
  align-items : flex-start;
  &__item{
    flex-basis : 70px;
    &--empty{
      font-size : 0;
      line-height : 0;

      height : 0;
      min-height : 0;
      margin-top : 0;
      margin-bottom : 0;
      padding : 0;
    }
  }
}

@media (min-width: $screen-md){
  .photo-catalog-wrap{
    max-width : 628px;
  }
  .photo-catalog{
    margin-bottom : 21px;

    justify-content : flex-start;
    &__item{
      flex-basis : 140px;
    }
  }
}

@media (min-width: $screen-bp-md-lg){
  .photo-catalog-wrap{
    max-width : 960px;
  }
  .photo-catalog{
    margin-bottom : 25px;

    justify-content : space-between;
    &__item{
      margin-right : 12px;
      margin-left : 12px;
    }
  }
}
