.social{
  font-size : 0;
  &__link{
    font-size : $fz_m;
    line-height : 48px;

    display : inline-block;

    width : 46px;
    height : 48px;
    margin-right : 3px;
    margin-bottom : 6px;
    margin-left : 3px;

    vertical-align : middle;
    text-decoration : none;

    color : #fff;
    background-color : $c_blue;
    &:hover{
      background-color : #669ec0;
    }
    &:active{
      background-color : #5496bd;
    }
  }
}
@media (min-width: $screen-md){
  .social{
    width : 33.33%;
  }
}
