@mixin no-text{
  overflow : hidden;

  white-space : nowrap;
  text-indent : 100%;
}
@mixin no-text-2{
  font : 0/0 serif;

  color : transparent;
  text-shadow : none;
}
@mixin cross{
  position : absolute;

  display : block;

  width : 15px;
  height : 2px;

  border-radius : 1px;
  background : #b8b8b8;
}
@mixin menu-icon{
  position : absolute;

  display : block;

  width : 23px;
  height : 4px;

  cursor : pointer;

  border-radius : 1px;
  background : $c_blue;
}
@mixin cross-white{
  position : absolute;

  display : block;

  width : 28px;
  height : 4px;

  cursor : pointer;

  border-radius : 1px;
  background : #fff;
}
@mixin font-md{
  font-size : $fz_m;
  line-height : (26/21);
}
@mixin font-lg{
  font-size : $fz_l;
  line-height : (26/30);
}
@mixin input-text{
  font : {
    size : $fz_s;
    weight : bold;
  }
  line-height : (26/18);

  display : block;

  width : 100%;
  height : 58px;
  padding : 0 20px;

  cursor : pointer;
  text-align : left;

  border : none;
  background : $c_lighter-grey;
}
@mixin label{
  font : {
    size : $fz_base;
  }
  line-height : (26/14);

  display : block;

  margin-bottom : 7px;
  padding-left : 20px;

  cursor : pointer;
  text-align : left;
}
