%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-blog-calendar {
	@extend %svg-common;
	background-position: 97.65374892114075% 43.50819942068904%;
}

.svg-blog-calendar-dims {
	width: 10.633px;
	height: 11.393px;
}

.svg-blog-flag {
	@extend %svg-common;
	background-position: 92.34602059180001% 67.88996936192886%;
}

.svg-blog-flag-dims {
	width: 10.634px;
	height: 9.874px;
}

.svg-htmlacademy {
	@extend %svg-common;
	background-position: 51.793522239675774% 65.22856370029754%;
}

.svg-htmlacademy-dims {
	width: 26.943px;
	height: 34.09px;
}

.svg-icon-burger {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-icon-burger-dims {
	width: 76.166px;
	height: 68.959px;
}

.svg-icon-calendar {
	@extend %svg-common;
	background-position: 97.88288726682886% 18.03565045009912%;
}

.svg-icon-calendar-dims {
	width: 19.875px;
	height: 21.916px;
}

.svg-icon-cross {
	@extend %svg-common;
	background-position: 99.38142699982214% 0;
}

.svg-icon-cross-dims {
	width: 22.199px;
	height: 22.199px;
}

.svg-icon-facebook {
	@extend %svg-common;
	background-position: 91.25012097164424% 46.11442533477185%;
}

.svg-icon-facebook-dims {
	width: 8.672px;
	height: 18.944px;
}

.svg-icon-gift {
	@extend %svg-common;
	background-position: 0 98.6312146003776%;
}

.svg-icon-gift-dims {
	width: 63px;
	height: 75.084px;
}

.svg-icon-house {
	@extend %svg-common;
	background-position: 76.69983082252476% 0;
}

.svg-icon-house-dims {
	width: 74.696px;
	height: 72.345px;
}

.svg-icon-menu {
	@extend %svg-common;
	background-position: 50.41701969921626% 86.51985888243996%;
}

.svg-icon-menu-dims {
	width: 22.928px;
	height: 21.982px;
}

.svg-icon-minus {
	@extend %svg-common;
	background-position: 97.22762260563252% 48.58928034777017%;
}

.svg-icon-minus-dims {
	width: 9.917px;
	height: 1.917px;
}

.svg-icon-plus {
	@extend %svg-common;
	background-position: 91.94249251903% 75.22116032365285%;
}

.svg-icon-plus-dims {
	width: 9.917px;
	height: 9.917px;
}

.svg-icon-twitter {
	@extend %svg-common;
	background-position: 96.39744408945687% 59.13439775351589%;
}

.svg-icon-twitter-dims {
	width: 17.5px;
	height: 14.663px;
}

.svg-icon-youtube {
	@extend %svg-common;
	background-position: 97.94898098311268% 33.679428942245295%;
}

.svg-icon-youtube-dims {
	width: 19.979px;
	height: 14.015px;
}

.svg-map-marker {
	@extend %svg-common;
	background-position: 70.1421768707483% 61.309322033898304%;
}

.svg-map-marker-dims {
	width: 27px;
	height: 27px;
}

