.checkbox {
  @include label;
  float: left;
  clear: both;

  position: relative;

  margin-right: 20px;
  margin-bottom: 42px;

  padding-left:79px;
  padding-top: 5px;

  font: {
    weight: bold;
    size:$fz_s;
  }
  text-transform: none;

  &:last-child {
    margin-bottom: 36px;
  }

  & input {
    display:none;
  }

  &__ind:before {
    content:"";
    display:block;
    position: absolute;
    top: -7px;
    left: 0;
    width: 56px;
    height: 56px;
    padding: 0;

    color: $c_darken-grey;
    border: none;
    outline: none;
    background: $c_lighter-grey;
    border-radius: 10%;
  }
  &__ind:hover:before {
    background-color: #e5e5e5;
  }
  &__ind:active:before {
    background-color: #d5d5d5;
  }

  &__ind:after {
    content:"";
    position:absolute;
    left:18px;
    top:10px;
    display: block;
    width: 22px;
    height: 15px;
    border-left: 5px solid $c_grey;
    border-bottom: 5px solid $c_grey;
    transform: rotate(-45deg);
    opacity: 0;
  }

  & input:checked ~ &__ind:after {
    opacity: 1;
    transition: all 0.5s;
  }
  & input:checked ~ &__ind:active:after {
    border-color: #a4a4a4;
  }
}
