.checkbox {
  &__label{
    display: block;
    text-align: left;
    float: left;
    margin-right: 20px;
    cursor: pointer;
  }
  &:last-child {
    margin-bottom: 38px;
  }
  position: relative;
  padding-left:79px;
  //padding-bottom: 25px;
  padding-top: 5px;
  margin-bottom: 49px;
  font-weight: bold;
  font-size:$fz_s;
  text-transform: none;
  & input {
    display:none;
  }
  &__ind:before {
    content:"";
    display:block;
    position: absolute;
    top: -7px;
    left: 0;
    width: 56px;
    height: 56px;
    padding: 0;

    color: $c_darken-grey;
    border: none;
    outline: none;
    background: $c_lighter-grey;
    border-radius: 10%;
  }
  &__ind:after {
    content:"";
    position:absolute;
    left:18px;
    top:10px;
    display: block;
    width: 22px;
    height: 15px;
    border-left: 5px solid $c_grey;
    border-bottom: 5px solid $c_grey;
    transform: rotate(-45deg);
    opacity: 0;
  }
  & input:checked ~ &__ind:after {
    opacity: 1;
    transition: all 0.5s;
  }
}
