.control-ind-chek {
  &:before {
    content:"";
    display:block;
    //box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 56px;
    height: 56px;
    padding: 0;

    color: $c_darken-grey;
    border: none;
    outline: none;
    background: $c_lighter-grey;
    border-radius: 10%;
  }
}
