.features {
  text-align: left;
  padding: $p_base;
  margin-bottom: 35px;
  &__item {
    position: relative;
    padding-top: 15px;
  }
  &__title {
    font-size: $fz_s;
    line-height: (26/18);
    margin-bottom: 15px;
    padding: $p_features;
  }
  &__text {
    padding: $p_features;
    margin-bottom: 0;
  }
}
