.features {
  text-align: left;
  padding: $p_base;
  padding-bottom: 35px;
  padding-top: 10px;

  &__item {
    //position: relative;
    padding: $p_features;
  }

  &__title {
    font: {
      size: $fz_s;
      weight: bold;
    }
    line-height: (26/18);
    padding-top: 30px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: 0;
  }

  &__sprite {
    @include no-text-2;
    float: left;
    margin-left: -48px;
    margin-top: 5px;
    fill: $c_blue;
    svg {
      max-width: 37px;
    }
    &--burger {
      margin-top: 8px;
      margin-left: -50px;
    }
    &--gift {
      margin-left: -45px;
      margin-top: 1px;
      svg {
        max-width: 32px;
      }
    }
  }
}


@media (min-width: $screen-md) {
  .features{
    padding: 0;
    display: flex;
    min-height: 330px;
    text-align: center;
    padding-bottom: 60px;


    &__item {
      width: 33.33%;
      padding: 0;
      padding-top: 57px;
    }

    &__title {
      @include font-md;
      padding: 0;
      margin-bottom: 20px;
    }

    &__text {
      padding: $p_md-lg-display;
    }
    &__sprite {
      float: none;
      display: inline-block;
      position: static;
      margin: 0;
      margin-bottom: 29px;
      max-height: 75px;
      svg {
        max-width: none;
      }
      &--house {
        margin-top: 3px;
      }
      &--burger {
        margin-top: 5px;
      }
    }
  }
}

