.features {
  text-align: left;
  padding: $p_base;
  &__item {
    position: relative;
    padding: 10px 0;
  }
  &__title {
    margin-bottom: 15px;
    padding: $p_features;
  }
  &__text {
    padding: $p_features;
  }
}
