.footer {
  box-sizing: border-box;
   // height: 120px;
    padding-top: 36px;
    background-color: $c_light;
&-hashtag {
  font: {
   size: $fz_21;
   weight: bold;
  }
    line-height: $lh_26_21;

}
&-hashtag__link {
  text-decoration: none;
  color: #000;
}
}
