.form {
  margin-bottom: 80px;
  padding: $p_base;
  &__item {
    border-top: 1px solid $c_lighter-grey;
    clear: both;
  }
  &__title {
    font-size: $fz_s;
    line-height: (26/18);
    margin-top: 19px;
    margin-bottom: 25px;
    &--mb19{
      margin-bottom: 19px;
    }
  }
  &__label {
    @include label;
  }

  &__input-text {
    @include input-text;
    margin-bottom: 16px;
    &:last-child{
      margin-bottom: 23px;
    }
  }
  &__btn {
    width: 100%;
    height: 58px;
    background: $c_blue;
    border: none;
    font: {
      size: $fz_m;
      weight: bold;
    }
    line-height: 58px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
    padding: 0px 10px;
    &:hover {
      background-color: $c_blue-dark;
    }

    &:active {
      background-color: #5496bd;
      color: #91b7d1;
    }

  &:disabled {
      background-color: #e5e5e5;
  }
  }
  &__counter {
    margin-bottom: 17px;
    &--mb38 {
      margin-bottom: 38px;
    }
  }
  input[type="text"]:hover {
    background: #e5e5e5;
  }
  input[type="text"]:active {
    background: #fff;
    border: 4px solid #e5e5e5;
  }
}
@media (min-width: $screen-md) {
  .form {
    padding-right: 8%;
    padding-left: 8%;
    &__item {
      border-top: none;
      overflow: hidden;
    }
    &__title {
      @include font-md;
      font-weight: bold;
      display: inline-block;
      width: 400px;
      margin: 0;
      padding: 0;
      position: relative;
      margin-bottom: 23px;
      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 1px;
        width: 1000px;
        background-color: $c_lightest-grey;
        position: absolute;
        right: 100%;
        top: 50%;
        margin-top: -3px;
      }
      &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 1px;
        width: 1000px;
        background-color: $c_lightest-grey;
        position: absolute;
        left: 100%;
        top: 50%;
        margin-top: -3px;
      }
      &--mb38{
        margin-bottom: 38px;
      }
    }
    &__label {
      &--center{
        text-align: center;
        padding-left: 0px;
      }
    }
    .form__row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 35px;
        &__item {
          flex-basis: 27%;
        }
      }
    .form__group {
      width: 27%;
      margin-bottom: 10px;
    }
  }
}

