.form {
    padding: $p_base;
    margin-bottom: 80px;
  & fieldset {
    border: none;
    border-top: 1px solid $c_lighter-grey;
    margin: 0;
    padding: 0;

  }
  &__item {
  }
  &__title {
    font-size: $fz_s;
    line-height: (26/18);
    margin-top: 19px;
    margin-bottom: 25px;
    &--mb19{
      margin-bottom: 19px;
    }
  }
  &__label {
    @include label;
  }
  &__input-text {
    @include input-text;
    margin-bottom: 16px;
    &:last-child{
      margin-bottom: 23px;
    }
  }
  &__btn {
    width: 100%;
    height: 58px;
    background: $c_blue;
    border: none;
    font: {
      size: $fz_m;
      weight: bold;
    }
    line-height: 58px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
    padding: 0px 10px;
  }
}
@media (min-width: $screen-md) {
  .form {
    & fieldset {
      border-top: none;
    }
    &__item {
      //display: flex;
    }
    &__title-wrap{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__title {
      @include font-md;
      font-weight: bold;
      width: 100%;
      flex-basis: 400px;
      margin: 0 auto;}
    &__line {
      flex: 1;
      margin-top: -3px;
      height: 1px;
      width: 100%;
      background: $c_grey;
    }
  }
}
