.icon {
  @include no-text;
  position: relative;
  &:active {
    svg {
      fill: $c_darken-blue;
    }
  }
  svg {
    position: absolute;
    top: 17px;
    left: 13px;
    fill: #fff;
  }
  &--facebook svg {
    top: 13;
    left: 19;
  }
}
