.intro-main {
  position: relative;
  z-index: 1;
  height: 390px;
  margin-bottom: 45px;
  padding: $p_base;
  padding-top: 50px;
  box-sizing:border-box;
  background-image: url('../img/bg-main.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}


