.intro {
  & img {
    position: relative;
    z-index: 1;
    height: 160px;
    margin-bottom: 57px;
    padding: $p_base;
    padding-top: 50px;
    background-image: url('../img/bg-main.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  &__title {
    font-size: $fz_s;
    line-height: (26/21);
    margin-bottom: 28px;
  }
  &__text {
    font-size: $fz_base;
    line-height: (24/14);
    margin-bottom: 16px;
  }
}
