.logo {
  position: relative;
  z-index: 2;
  :before {
    content: 'hhh';
    width:67px;
    height: 56px;
    background-image: url('../img/logo-sedona@1x.png');
    position:absolute;
  }
  // img
  // {
  //   margin-bottom: -20px;
  // }
  // picture {
  //   background-image: url('../img/form-logo-triangle.svg');
  //   background-color: $c_blue;
  //   background-size: 138px 70px;
  //   width:138px;
  //   height: 70px;
  // }
  svg {
    margin-bottom: -20px;
    fill: $c_blue;
  }
}

@media (min-width: $screen-md)
{
  .logo {
    display: block;
    //margin-top: -20px;
    margin-top: -55px;
    // img
    // {
    //   margin-top: -76px;
    // }
  }
}
