.logo {
  position: relative;
  z-index: 2;
  & img {
    margin-bottom: -20px;
  }
}
@media (min-width: $screen-md) {
  .logo {
    margin-top: -20px;
    display: block;
  & img {
   margin-top: -76px;
  }
}
}
