.main-menu {
  &__list {
    margin: 0;
    padding-left: 0;
  }
  &__item {
    list-style-type: none;
    &:last-child a {
      box-shadow: inset 0 -5px 5px 0 #6c96b0;
      border-bottom: none;
    }
    &:first-child a {
      border-top: 1px solid $c_blue;
    }
  }
  &__link {
    font: {
      size: $fz_s;
      weight: bold;
    }
    hyphens: auto;
    line-height: (28/18);
    padding: 13px 43px;
    background: $c_blue;
    color: #fff;
    vertical-align: middle;
    text-decoration: none;
    display: block;
    border-top: 1px solid $c_light-blue;
    border-bottom: 1px solid $c_dark-blue;
  &--active{}
  }
}
@media (min-width: $screen-md) {
  .main-menu {
    &__list {
      margin: 0;
      padding-left: 0;
      display: flex;
    }
    &__item {
      width: 20%;
      list-style-type: none;
    &:last-child a {
      box-shadow: none;
      border-bottom: none;
    }
    &:first-child a {
      border-top: none;
    }
    &:nth-child(2) {
      margin-right: 20%;
    }
    }
    &__link {
      font: {
        size: $fz_base;
        weight: bold;
      }
      line-height: (26/14);
      padding: 15px;
      background: #fff;
      color: #000;
      border-top: none;
      border-bottom: none;
    &--active{}
    }
  }
}


