.menu-section-open {
  position: relative;
  &__link {
    @include no-text-2;
    @include menu-icon;
    top:-21px;
    right:20px;
    &:before {
      content: '';
      @include menu-icon
      top: -18px;
    }
    &:after{
      content: '';
      @include menu-icon
      top: -9px;
    }
  }
}
@media (min-width: $screen-md) {
  .menu-section-open {
    display: none;
  }
}
