.photo-catalog-wrap {
  max-width: 458px;
  margin: 0 auto;
}

.photo-catalog {
  $gap: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 8px;
  margin-left: (- $gap);
  margin-right: (- $gap);

  &__item {
    flex-basis: 70px;
    &--empty{
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      min-height: 0 !important;
      padding: 0 !important;
      height: 0 !important;
      font-size: 0;
      line-height: 0;
    }
  }
}

@media (min-width: $screen-md) {
  .photo-catalog-wrap {
    max-width: 630px;
  }
  .photo-catalog {
    justify-content: flex-start;
    margin-bottom: 21px;
    &__item {
      flex-basis: 140px;
    }
  }
}

@media (min-width: $screen-bp-md-lg) {
  .photo-catalog-wrap {
    max-width: 960px;
  }
  .photo-catalog {
    justify-content: space-between;
    &__item {
      margin-left: 12px;
      margin-right: 12px;
    }
  }
}
