.radio {
  position: relative;
  padding-left:77px;
  padding-bottom: 20px;
  padding-top: 15px;
  text-transform: none;
  font-size: $fz_s;
  line-height: (26/18);
  &__label {
    font: {
      weight: bold;
    }
    display: block;
    cursor: pointer;
    margin-bottom: 7px;
    text-align: left;
    float: left;
  }
  &:last-child {
    margin-bottom: 18px;
  }
  & input{
    display: none;
  }
  &__ind:before  {
    content:"";
    background-color: $c_lighter-grey;
    border-radius: 50px;
    padding: 28px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
    &__ind:after  {
    content:"";
    position:absolute;
    left:16px;
    top:16px;
    display: block;
    background-color: $c_grey;
    border-radius: 12px;
    padding: 12px;
    opacity: 0;
  }
  & input:checked ~ &__ind:after {
  opacity: 1;
  transition: all 0.5s;
  }
}
