.radio {
  @include label;
  position: relative;
  padding-left:77px;
  padding-bottom: 20px;
  padding-top: 15px;
  text-transform: none;
  font-size: $fz_s;
  line-height: (26/18);
  font: {
    weight: bold;
  }

  float: left;
  clear: both;

  &:last-child {
    margin-bottom: 18px;
  }
  & input{
    display: none;
  }
  &__ind:before  {
    content:"";
    background-color: $c_lighter-grey;
    border-radius: 50px;
    padding: 28px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
  &__ind:hover:before {
    background-color: #e5e5e5;
  }
  &__ind:active:before {
    background-color: #d5d5d5;
  }
  &__ind:after  {
    content:"";
    position:absolute;
    left:16px;
    top:16px;
    display: block;
    background-color: $c_grey;
    border-radius: 12px;
    padding: 12px;
    opacity: 0;
  }
  & input:checked ~ &__ind:after {
  opacity: 1;
  transition: all 0.5s;
  }
  & input:checked ~ &__ind:active:after {
    background-color: #a4a4a4;
  }
}

@media (min-width: $screen-md) {
  .radio {
    margin-bottom: 16px;
      &:last-child {
      margin-bottom: 16px;
    }
  }
}
