.reason {
  &--bg-blue {
    background-color: $c_blue;
    color: #fff;
    & .reason__title{
      padding-top: 42px;
    }
  }
  &--bg-grey {
    background-color: $c_light-grey;
    & .reason__text{
      border-bottom: 1px solid $c_dark-grey;
      padding-bottom: 27px;
    }
    & .reason__item:last-child .reason__text{
      border-bottom: none;
    }
  }
  &__item {
    padding: $p_base;
    & h4 {
      margin-top: 0;
    }
  }
  &__title {
    font-size: $fz_s;
    line-height: (26/18);
    padding-top: 27px;
    margin-bottom: 10px;
  }
  &__number {
    display: block;
  }
  &__text {
    padding-bottom: 40px;
    margin-bottom: 0;
  }
  &__image {
  }
  &__image--img-1 {
    height: 256px;
    background-image: url('../img/pict-content-reason1.jpg');
  }
  &__image--img-2 {
    height: 256px;
    background-image: url('../img/pict-content-reason2.jpg');
  }
}
