.reasons {
  &__item {
    &--bg-blue {
    background-color: $c_blue;
    color: #fff;
    padding-top: 41px;
    padding-bottom: 40px;
    }
  &--bg-grey {
    background-color: $c_light-grey;
    border-bottom: 1px solid $c_dark-grey;
    }
    padding: $p_base;
    padding-top: 28px;
    padding-bottom: 26px;
    h4 {
      margin-top: 0;
    }
    &:last-child{
      border-bottom: none;
    }
  }
  &__title {
    font-size: $fz_s;
    line-height: (26/18);
    margin-bottom: 10px;
  }
  &__number {
    display: block;
  }
  &__text {
    margin-bottom: 0;
  }
  &__image {
    min-height: 256px;
    background-position: center;
    background-size: cover;
  }
  &__image--img-1 {
    background-image: url('../img/pict-content-reason1.jpg');
  }
  &__image--img-2 {
    background-image: url('../img/pict-content-reason2.jpg');
  }
}
@media (min-width: $screen-md) {
  .reasons {
    display: flex;
    &__item {
      min-height: 256px;
      width: 33.33%;
      order: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 0;
      padding-left: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      &--bg-grey {
        border-bottom: none;
      }
    }
    &__title {
      padding: 0 19%;
      @include font-md;
    }
    &__number {
      margin-bottom: 7px;
    }
    &__text {
      padding: $p_md-lg-display;
    }
    &__image {
      width: 66.66%;
      order: 3;
    }
    &__image--img-2 {
      order: 1;
    }
  }
}
@media (min-width: $screen-lg) {
  .reasons {
    &__title {
      padding: 0 30%;
    }
  }
}
