.social {
  //padding-top:40px;
  font-size: 0;
  &__link {
    font-size: $fz_m;
    line-height: 48px;

    display: inline-block;

    width: 46px;
    height: 48px;

    text-decoration: none;

    color: #fff;
    background-color: $c_blue;

    margin-right: 4px;
    margin-left: 2px;
    margin-bottom: 4px;
  }
}
