%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-blog-calendar {
	@extend %svg-common;
	background-position: 68.49544408586064% 79.6627422215902%;
}

.svg-blog-calendar-dims {
	width: 10.633px;
	height: 11.393px;
}

.svg-blog-flag {
	@extend %svg-common;
	background-position: 76.07112833592181% 78.76722466438731%;
}

.svg-blog-flag-dims {
	width: 10.634px;
	height: 9.874px;
}

.svg-htmlacademy {
	@extend %svg-common;
	background-position: 61.395971206783976% 65.22856370029754%;
}

.svg-htmlacademy-dims {
	width: 26.943px;
	height: 34.09px;
}

.svg-icon-burger {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-icon-burger-dims {
	width: 76.166px;
	height: 68.959px;
}

.svg-icon-calendar {
	@extend %svg-common;
	background-position: 99.22516682554813% 58.77693282636248%;
}

.svg-icon-calendar-dims {
	width: 19.875px;
	height: 21.916px;
}

.svg-icon-facebook {
	@extend %svg-common;
	background-position: 53.51441740205721% 95.5527701973726%;
}

.svg-icon-facebook-dims {
	width: 8.672px;
	height: 18.944px;
}

.svg-icon-gift {
	@extend %svg-common;
	background-position: 0 98.6312146003776%;
}

.svg-icon-gift-dims {
	width: 63px;
	height: 75.084px;
}

.svg-icon-house {
	@extend %svg-common;
	background-position: 99.81914447473264% 0;
}

.svg-icon-house-dims {
	width: 74.696px;
	height: 72.345px;
}

.svg-icon-minus {
	@extend %svg-common;
	background-position: 92.22160005103378% 65.87854601874437%;
}

.svg-icon-minus-dims {
	width: 9.917px;
	height: 1.917px;
}

.svg-icon-plus {
	@extend %svg-common;
	background-position: 72.53744249838746% 89.16740078322216%;
}

.svg-icon-plus-dims {
	width: 9.917px;
	height: 9.917px;
}

.svg-icon-twitter {
	@extend %svg-common;
	background-position: 63.54906367041198% 92.41427990516891%;
}

.svg-icon-twitter-dims {
	width: 17.5px;
	height: 14.663px;
}

.svg-icon-youtube {
	@extend %svg-common;
	background-position: 58.13266575587119% 81.25739588502499%;
}

.svg-icon-youtube-dims {
	width: 19.979px;
	height: 14.015px;
}

.svg-map-marker {
	@extend %svg-common;
	background-position: 83.15241935483871% 61.309322033898304%;
}

.svg-map-marker-dims {
	width: 27px;
	height: 27px;
}

